<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foglalás</title>
    <script src="js/jquery-3.4.1.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
    <script src="js/booking.js" defer></script>
</head>
<body>

    <input type ="text" id="from" placeholder="Honnan">
    <input type ="text" id="to" placeholder="Hova">
    <button id="send">Küldés!</button>

    <table id="ridelist">


</body>
</html>