<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuvar létrehozás</title>
    <!--Fontawesome cdn-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/admin.css">
</head>
<body>
    <input type="text" id="arrival" name="arrival" placeholder="Kiinduló pont">
    <input type="text" id="departure" name="departure" placeholder="Érkezés pont"><br>
    <input type="text" id="price" name="price" placeholder="Ár"><br>
    <input type="text" id="departuretime" name="departuretime" placeholder="Indulás (YYYY.MM.DD HH:MM)"><br>
    <input type="text" id="arrivaltime" name="arrivaltime" placeholder="Érkezés (YYYY.MM.DD HH:MM)"><br>
    <select id="cars">


</body>
</html>