<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regisztráció</title>
    <!--Fontawesome cdn-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/profil.css">
    <link rel="stylesheet" href="profil.css">
    <script src="js/jquery-3.4.1.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
    <script src="js/profile.js" defer></script>
</head>
<body>

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Telekocsi.</label>
    
            <ul>
                <li><a href="create.html">Fuvar hirdetés</a></li>
                <li><a href="booking.html">Fuvar foglalás</a></li>
                <li><a href="profil.html" class="active" >Profilom <i class="far fa-user"></i></a></li>
                <li><a href="login.html" >Bejelentkezés</a></li>
                <li><a href="signup.html" >Regisztráció</a></li>
            </ul>
      </nav>

    <main>
        <div class="content">
        <div class="basic-about">
        <div class="pic">
            <img src="driver.jpg" alt="">
        </div>
        
        <div class="datas">
            <h1 id="realname"></h1>
            <h2 id="username"></h2>
            <h3>Értékelés, mint sofőr</h2>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <h3>Értékelés, mint utas</h2>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </div>
    </div>

    <div class="cars">
        <div class="first">
            
            <table id="vehiclelist">


        </div>
        <div class="addCarContainer">
            <h3>Új jármű hozzáadása</h3>
            <input type="text" id="manufacturer" name="firstname" placeholder="Márka..">
            <input type="text" id="type" name="firstname" placeholder="Típus..">
            <input type="text" id="plate" name="firstname" placeholder="Rendszám..">
            <input type="text" id="year" name="firstname" placeholder="Évjárat..">
            <input type="text" id="color" name="firstname" placeholder="Szín..">
            <input type="text" id="seats" name="firstname" placeholder="Férőhelyek..">


            <button id="plus" type="button"><i class="fas fa-plus"></i></button>
            <button id="minus" type="button"><i class="fas fa-minus"></i></button>


            <button id="addImage"type="button">Kép feltöltése <i class="fas fa-camera"></i></button>
            <button id="addCar"type="button">Hozzáad <i class="fas fa-car"></i></button>
            
            <h2>Járművek</h2>
            
        </div>
    </div>
    
    
    </div>
    </main>
    

</body>
</html>